html {
    background-color: black;
}
body {
    width: 900px;
    margin: 0 auto;
    position: relative;
}
ul {
    list-style-type:none;
}
div {
    background-color: rgb(51, 51, 51);
    margin: 20px;
}
p {
    color: rgb(196, 196, 196);
    font-family: "Consolas";
    src: "./content/consolas.ttf";
    margin: 20px;
}
#gif {
    width: 600px;
    height: 600px;
    position: relative;
}
#gif img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: rgb(46, 46, 46);
}
#black {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 46%;
    left: 47%;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: rgb(46, 46, 46);
}
.unblack {
    opacity: 0;
}
.doblack {
    opacity: 100%;
}
#description {
    width: 600px;
    height: 100px;
}
#others {
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 0;
    width: 240px;
    height: 720px;
}
#others ul {
    display: grid;
    padding: 0 0 0 10%;
    grid-template-columns: 50px 50px 50px;
    gap: 15px;
    row-gap: 5px;
    width: 100%;
}
img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}
#others ul li {
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: rgb(92, 92, 92);
}