html {
    background: linear-gradient(90deg, rgb(185, 230, 230) 10% 0%, rgb(122, 151, 151) 70% 60%);
    scrollbar-color: #0000001c rgb(122, 151, 151);
    height: 900px;
}

ul {
    background: linear-gradient(rgb(124, 175, 175), rgb(166, 216, 216) 10% 90%, rgb(208, 245, 245));
    border: 2px solid rgb(103, 128, 128);
    padding: 5px 5px;
    margin: 20px;
    height: 88%;
    list-style-type: none;
    overflow-y: auto;
    scrollbar-color: rgb(166, 204, 204) rgb(138, 185, 185);
}

li {
    background: rgb(208, 235, 235);
    border: 2px solid rgb(121, 182, 182);
    margin: 0 0 5px 0;
}

div {
    background: linear-gradient(rgb(228, 255, 255) 10% 0%,rgb(191, 238, 238) 30% 80%,rgb(134, 189, 189));
    box-shadow: 0px 0px 30px 10px rgb(138, 175, 175) inset;
    border: 2px solid rgb(103, 128, 128);
}

body {
    position: relative;
    width: 900px;
    margin: 40px auto;
    background-color: rgb(138, 175, 175);
    box-shadow: 0px 0px 50px 20px rgb(138, 175, 175);
}
#logo {
    position: relative;
    width: 30%;
    height: 180px;
}
#news {
    margin: 20px 0 0 0;
    width: 30%;
    height: 680px;
}
#info {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 884px;
    width: calc(70% - 20px);
    
}
#info #tab {
    background: none;
    border: 0;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    width: 98%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 187px);
    grid-template-rows: 65px;
    overflow: hidden;
    
}

#info #tab li {
    margin: 10px 2px;
    background: linear-gradient(rgb(228, 255, 255) 10% 0%,rgb(191, 238, 238) 30% 80%,rgb(134, 189, 189));
    height: 40px;
    position: relative;
    
}
#info #tab #content li {
    background: rgb(208, 235, 235);
    border: 2px solid rgb(121, 182, 182);
}
#info #tab #content #about {
    width: 400%;
    height: 470%;
    margin: 0;
}

#info #tab li a {
    text-decoration: none;
    position: absolute;
    top: 25%;
    right: 35%;
    -webkit-text-stroke: 1px rgba(132, 165, 165, 0.623);
    font-family: "Consolas";
    font-size: 20px;
    color:rgba(132, 165, 165, 0.623);
    height: 20px;
}
#info #tab li a:hover {
    color:rgba(50, 65, 65, 0.623);
}
#info ul {
    width: calc(277% + 25px);
    height: calc(95% + 10px);
    margin: 0 auto;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(4,160px);
}
#info #content li {
    width: 120px;
    height: 140px;
    padding: 0 0 30;
}

#info ul li img {
    border: 2px solid rgb(121, 182, 182);
    margin: 3px;
    width: 110px;
    height: 110px;
    object-fit: cover;
}
p {
    font-family: "Consolas";
    src: url('./content/consolas.ttf') format("ttf");
    font-size: 14px;
    color: rgb(65, 115, 128);
    margin: 20px 5px;
}

#date {
    text-align: center;
    color: rgb(112, 161, 173);
    margin: 5px;
}
h1 {
    -webkit-text-stroke: 1px rgba(132, 165, 165, 0.623);
    font-family: "Consolas";
    font-size: 20px;
    color:rgba(132, 165, 165, 0.623);
    text-align:center;
    height: 20px;

}

#logo h1 {
    position: absolute;
    transform:translate(-50%, -50%);
    top: 65%;
    left: 50%;
    font-size: 30px;
    color:rgb(167, 200, 231);
    -webkit-text-stroke: 2px rgb(119, 172, 185);
    text-align:center;
    height: 50px;

    animation-name: textscale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
#logo h2 {
    color: rgb(103, 149, 160);
    margin: 155px 50px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
}
#info #content #about a {
    font-size: 14px;
    -webkit-text-stroke: 0;
    position: inherit;
    color: #3a4be9;
}
#info #content #about a:hover {
    color: #6770eb;
    text-decoration: underline;
    text-decoration-color: #6770eb;
}
#info #content #about a:visited {
    color: #ab67eb;
    text-decoration-color: #ab67eb;
}
#logo img {
    position: absolute;
    transform:translate(-50%, 10%);
    left: 50%;
}
#info #tab #content a {
    font-size: 14px;
    margin: 85px 0 0 0;
    -webkit-text-stroke: 0;
    color: #3a4be9;
}
#info #tab #content a:hover {
    color: #6770eb;
    text-decoration: underline;
    text-decoration-color: #6770eb;
}
#info #tab #content a:visited {
    color: #ab67eb;
    text-decoration-color: #ab67eb;
}
@keyframes textscale {
    0% {
        transform: translate(-50%, -50%) scale(-1,1);
    };
    98% {
        transform: translate(-50%, -50%) scale(1,1);
    };
    100% {
        transform: translate(-50%, -50%) scale(2,1);
    };
}