html {
    overflow-x: hidden;
    margin: none;
    padding: none;
    width: 100vw;
    height: 100%;
    background-color: rgb(38, 68, 39);
}
button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  appearance: none;
}
input {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  appearance: none;
}
li {
    list-style-type: none;
}
a {
    color: rgb(101, 119, 194);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: rgb(58, 69, 110);
}
a:visited {
    color: blueviolet;
}
h2 {
    color: rgb(87, 129, 91);
}
body {
    overflow-x: hidden;
    margin: 0 auto;
    min-height: 100vh;
    max-height: auto;
    width: 100%;
    background-color: rgb(95, 141, 97);
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.404);
}
footer {
    height: 100px;
    & h2 {
        margin: 0;
    }
}
body main {
    width: 100%;
    height: auto;
    background-color: rgb(95, 141, 97);
    display:contents;
    margin-top: 20px;
    padding-bottom: 20px;
}
body main #rightpart #manipulator {
    background-color: rgba(0, 0, 0, 0.158);
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    & li {
        width: auto;
        height: auto;
    }
    & li .button {
        display: inline-block;
        height: 100%;
        width: 100%;
        font-size: 30px;
    }
    & li input[type='text'] {
        font-size: 20px;
        text-align: center;
    }
}
body main #declarator {
    margin: 10px 0;
    width: 100%;
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0.158);
    text-align: left;
    color: rgb(54, 80, 65);
}
body main #rightpart #about {
    margin-bottom: 10px;
    text-align: justify;
    height: auto;
}

body main #about {
    background-color: aliceblue;
    border: 3px solid rgba(0, 0, 0, 0.363);
    margin: 0px;
    height: 400px;
    width: 99%;
    & h2 {
        display: block;
        font-family: "UbuntuMono";
        font-size: large;
        margin: 5px 20px;
        color: rgb(141, 133, 124);
    }
    & #date {
        text-align: center;
        color: rgb(209, 203, 196);
    }
    & .separator {
        margin: 10px 20px;
        border-style:outset;
    }
    & h1 {
        margin: 10px 20px;
        font-size: 40px;
        font-family: "UbuntuMono";
        color: rgb(161, 88, 88);
    }
}
header {
    position: relative;
    width: 100%;
    height: 250px;
    background: linear-gradient(rgb(149, 216, 155), rgb(113, 168, 118) 60%);

}
header #buttons {
    position: absolute;
    transform: translate(-50%,0);
    bottom: 0%;
    left: 50%;
    list-style: none;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(5, auto);
}
header #background {
    position: absolute;
    transform: translate(-50%,0);
    bottom: 0%;
    left: 50%;
    width: 100%;
    height: 50px;
    border-top: 3px solid rgb(63, 94, 65);
    background: linear-gradient(rgb(71, 109, 74),rgb(84, 129, 88));
}

header * li {
    border-right: 2px solid rgb(63, 94, 65);
    border-bottom: 2px solid rgb(63, 94, 65);
    background: linear-gradient(rgb(108, 168, 114), rgb(76, 119, 80));
}
header * #lefty {
    border-left: 2px solid rgb(63, 94, 65);
}
header * li:hover {
    background: rgb(134, 196, 138);
}
header * li a {
    display: inline-block;
    font-size: 3vw;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}
header * li a:hover {
    background: rgb(88, 51, 9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-decoration: none;
}
header #maininfo {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-rows: 80% auto;
}
header #maininfo #otherstuff {
    & h2 {
        margin: 0 30px;
        color: rgb(141, 201, 147);
    }
}

header #maininfo #logo {
    display: flex;
    justify-content: space-between;
    & h1 {
        margin: 0 30px;
        margin-bottom: 20px;
        margin-top: 60px;
        color: rgb(40, 63, 42);
        font-family: "UbuntuMono";
        font-size: 10vw;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.445));
    }
    & h1 a:visited {
        color: rgb(40, 63, 42);
    }
    & h1 a:hover {
        color: rgb(28, 44, 30);
        text-decoration: none;
    }
    & h1 a {
        color: rgb(40, 63, 42);
    }
    & #separator {
        width: 0;
    }
    & #megalogo {
        position: relative;
        margin: 15px 15px;
        height: 165px;
        width: 165px;
        background-color: rgba(0, 0, 0, 0.281);
    }
    & #megalogo img {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        object-fit: cover;
        width: 150px;
        height: 150px;
        user-select: none;
    }
}


/*.opened {
    background: rgb(95, 141, 97);
    border-bottom: none;
}
.opened a {
    visibility: hidden;
}
.opened:hover {
    background: rgb(95, 141, 97);
}*/
.separator {
    border: 2px solid rgba(0, 0, 0, 0.171);
}
.background {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.445));
    background-color: rgba(228, 255, 239, 0.295);
}
.goldtext {
    font-family: "AntonSC";
    background: linear-gradient(rgb(228, 219, 89), rgb(201, 112, 11));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
li .button {
    background: linear-gradient(rgb(108, 168, 114), rgb(76, 119, 80));
    color: rgb(228, 219, 89);
    border: 2px solid rgb(63, 94, 65);
}
li:hover .button  {
    background: rgb(134, 196, 138);
}
li .button:hover {
    cursor:pointer;
    color: rgb(88, 51, 9);
}

@media (min-width: 1100px) {
    html {
        height: auto;
    }
    body {
        height: auto;
        width: 1100px;
        min-height: 0;
    }
    body main {
        display: grid;
        width: calc(100% - 20px);
        grid-template-columns: 600px 480px;
        margin: 0 10px;
    }
    body main #rightpart {
        margin-left: 20px;
        & #news {
            height: auto;
            scrollbar-width: none;
        }
    }
    header * li a {
        font-size: 30px;
    }
    header #maininfo #logo {
        & h1 {
            font-size: 100px;
        }
    }
    header #background1 {
        width: 490px;
    }
    header #maininfo #logo #separator {
        border-left: 3px dashed rgb(92, 138, 95);
        border-right: 3px dashed rgb(92, 138, 95);
        width: 350px;
        height: 200px;
    }
    header #buttons { 
        width: 70%;
    }
    body main #leftpart div div h1 {
        font-size: 80px;
    }
}
@keyframes Spinner {
    0% { transform:scaleX(100%);}
    50% { transform: scaleX(-100%);}
    100% {transform: scaleX(100%);}    
}
.animateSpinner {
    animation: Spinner 1s ease-in-out forwards;
}
@font-face {
    font-family: "AntonSC";
    src: url("./content/AntonSC-Regular.ttf");
}
@font-face {
    font-family: "UbuntuMono";
    src: url("./content/UbuntuMono-Bold.ttf");
}

