html {
    background-color: black;
}
#socials {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 700px;
    height: 600px;
    box-shadow: 0 0 10px 10px rgb(82, 123, 136);
    background-color: rgb(134, 210, 224);
}
#socials h1 {
    background-color:rgb(125, 184, 207);
    color: rgb(179, 242, 253);
}
#quote {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 700px;
    height: 600px;
    box-shadow: 0 0 10px 10px rgb(136, 82, 82);
    background-color: rgb(224, 134, 134);
}
a {
    color: rgb(111, 68, 179);
    font-size: 50px;
    padding: 0 100% 0 0;
    margin: 0 10px;
}
a:visited {
    color: rgb(175, 68, 179);
}
a:hover {
    color: rgb(60, 32, 105);
}
h1 {
    margin: 0;
    padding: 20px;
    background-color:rgb(240, 145, 145);
    color: rgb(253, 179, 179);
}

h2 {
    font-style: italic;
    color: rgb(155, 39, 39);
    font-size: 50px;
    margin: 30px 10px;
    text-align: justify;
    overflow-wrap: break-word; 
    word-break: break-all;
    overflow: hidden;
}